# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
src/Dyt/WebsiteBundle/Model/om/*
src/Dyt/WebsiteBundle/Model/map/*

# Configuration files
app/config/parameters.ini
app/phpunit.xml

#netbeans
nbproject
