{% form_theme form 'MopaBootstrapBundle:Form:fields.html.twig' %}

<div class='container'>
    <div class="section" style="width:450px;margin:auto;">

        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-margin">
            {{ form_widget(form) }}

            <div class="form-actions">
                <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </form>
    </div>
</div>