

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

/* label */
.zone {
    text-align: center;
    border: 3px dotted black;
    background-color: #ffffff;
    min-height: 30px;
    position: relative;
    padding-top:30px;
    font-size: 26px;
}

.zone p{
    padding: 5px;
}

.edit {
    font-size: 12px;
    background-color: #F5F5F5;
    width:80px;
    position: absolute;
    top:0px;
    left:0px;
    font-weight: bold;
}

/* font */
.schoolbell {
    font-family: 'Schoolbell', cursive;
    font-size: 38px;
}

.alexbrush {
    font-family: 'Alex Brush', cursive;
    font-size: 38px;
}

.maidenorange {
    font-family: 'Maiden Orange', cursive;
    font-size: 38px;
}

/* modal */
form.form-modal {
    margin: 0;
}

textarea.textarea-modal {
    width: 98%;
    height: 150px;
}









