

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

/* label */
.zone {
    text-align: center;
    border: 3px dotted black;
    background-color: #ffffff;
    min-height: 30px;
    position: relative;
    padding-top:30px;
}

.edit {
    background-color: #F5F5F5;
    width:80px;
    position: absolute;
    top:0px;
    left:0px;
    font-weight: bold;
}

/* font */
.schoolbell {
    font-family: 'Schoolbell', cursive;
}

.alexbrush {
    font-family: 'Alex Brush', cursive;
}

.maidenorange {
    font-family: 'Maiden Orange', cursive;
}











