{% extends '::base.html.twig' %}

{% block body %}

<h2>Choose your template label <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</small></h2>
<hr/>

<div class="row-fluid">
    <div style="width:75%;margin:auto;">
        <div style="width:32%;float:left;margin-left:1%;">
            <div class="thumbnail">
                <img alt="" src="http://placehold.it/300x200">

                <div class="caption">
                    <h5>Simple label</h5>
                    <p style="text-align:center"><a class="btn btn-primary" href="{{ path('label_new', {'name' : 'simple'}) }}"><i class="icon-edit icon-white"></i>&nbsp;Choice </a></p>
                </div>
            </div>
        </div>
        <div style="width:32%;float:left;margin-left:1%">
            <div class="thumbnail">
                <img alt="" src="http://placehold.it/300x200">

                <div class="caption">
                    <h5>Full label</h5>
                    <p style="text-align:center"><a class="btn btn-primary" href="{{ path('label_new', {'name' : 'full'}) }}"><i class="icon-edit icon-white"></i>&nbsp;Choice</a></p>
                </div>
            </div>
        </div>
        <div style="width:32%;float:left;margin-left:1%">
            <div class="thumbnail">
                <img alt="" src="http://placehold.it/300x200">

                <div class="caption">
                    <h5>Custom label</h5>
                    <p style="text-align:center"><a class="btn btn-primary" href="{{ path('label_new', {'name' : 'simple'}) }}"><i class="icon-edit icon-white"></i>&nbsp;Choice</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

