{% extends '::base.html.twig' %}

{% block body %}

<h2>Label <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</small></h2>
<hr/>

<div class="row-fluid">

    <div class="span8">
        <h6>preview</h6>
        <div class="well">
            {% include 'DytWebsiteBundle:Label:template/' ~ template ~ '.html.twig' %}
        </div>
    </div>
</div>

<div class="modal hide" id="myModal"></div>

{% endblock %}
