{% form_theme form 'MopaBootstrapBundle:Form:fields.html.twig' %}

<form action="{{ path('process_zone') }}" xmlns="http://www.w3.org/1999/html" method="post"
      class="form-modal" {{ form_enctype(form) }}>
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Edit zone</h3>
    </div>

    <div class="modal-body">

        <div class="alert alert-error fade in hide">
            <button data-dismiss="alert" class="close" type="button">×</button>
            <strong>Oh snap! You got an error!</strong>
        </div>

        <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus feugiat tristique leo.</strong></p>
        {{ form_widget(form) }}
    </div>

    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <button id="submit" class="btn btn-primary" data-complete-text="Processing..." autocomplete="off" >Save changes</button>
    </div>
</form>

<script>
$(function() {
    $('#submit').click(function(e){
        e.preventDefault();
        $(this).button('complete');
        $.ajax({
            type:     'POST',
            url:      '{{ path('process_zone') }}',
            data:     $('.form-modal').serialize(),
            dataType: 'json',
            success:  function(data){
                $('#' + data.zone).html(data.template);
                $('#myModal').modal('hide')
            },
            error: function(data){
                $("#submit").button('reset');
                $(".alert").show();
            }
        });
    });
});
</script>
